* {
	padding: 0;
	margin: 0;
	border: 0;
}
body {
	background-color: #000000;
	overflow: hidden;
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	image-rendering: crisp-edges;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

#gameArea {
	position:absolute;
	z-index: 0;
	left:50%;
	top:75%;
}

#mainCanvas {
	background-color: #48c2ff;
	width: 100%;
	height: 100%;
}
#navBar {
	position: absolute;
	margin: auto;
	text-align: center;
	top: 0;
	right: 0;
	left: 0;
	font-size: 0; /*gap between links*/
	z-index: 10;
}
#navBar a {
	padding: 0.5vh;

}
#navBar a img {
	width: 7.5vh;
}