@font-face {
    font-family: immortal;
    src: url(../fonts/Immortal.ttf);
}
body {
	font-family: immortal;
	font-size: 1.3em;
}
h1 {
	font-size: 3em;
	font-weight: normal;
	text-align: center;
}
h2 {
	text-decoration: underline;
	font-weight: normal;
	font-size: 1.8em;
	text-align: center;
}
p {
	line-height: 1em;
}
p::first-letter {
	font-size: 1.5em;
}
.noFirst::first-letter {
	font-size: 1em;
}
p img {
	height: 2.5em;
}

table {
	width: 100%;
}
td {
	width: 50%;
}
td div {
	height: 1.3em;
	float: left;
}
.skill {
	width: 50%;
	font-size: 1.4rem;
}
.rating{
	width: 10%;
	background-image: url('../images/Rating.png');
	background-size: 100% 100%;
}
td {
	padding: 2%;
	background: rgba(100, 0, 0, 0.1);
}
.qualifications td:nth-child(2) {
	width: 70%;
}
.qualifications td:first-child {
	width: 30%;
}

#pageWrapper {
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.page {
	display: none;
	position: relative;
	margin: auto;
	top: 17.5vh;
	max-width: 800px;
	width: 100vw;
	min-height: 60vh;
	background-image: url("../images/Page mid.png");
	background-size: 100%;
	color: black;
	z-index: 10;
}
#pageWrapper:hover {
	cursor: url("../images/Grab.png"), move;
}
#pageWrapper:active {
	cursor: url("../images/Grabbing.png"), move;
}

.page .top {
	position: absolute;
	width: 100%;
	height: 15vh;
	top: -15vh;
	background-image: url("../images/Page top.png");
	background-size: 100% 100%;
}
.page .mid {
	padding: 0 15%;

}
.page .mid .closePage {
	position: absolute;
	background-image: url("../images/X.png");
	background-position: 2px 0;
	background-size: contain;
	right: 12.5%;
	top: -5vh;
	width: 56px;
	height: 54px;
}
.page .mid .closePage:hover {
	cursor: url("../images/Pointer.png"), pointer;
}


.page .bot {
	position: absolute;
	width: 100%;
	height: 15vh;
	bottom: -15vh;
	background-image: url("../images/Page bot.png");
	background-size: 100% 100%;
}
#closePageWrapper {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

#welcomeIslandPage {
	display: block;
}

.islandButton {	
	position: absolute;
	bottom: 0;
	cursor: url("../images/Pointer.png"), pointer;
}
	#welcomeislandButton {
		width: 512px;
		height: 424px;
		left: 0;
	}
		#aboutmeislandButton {
		width: 276px;
		height: 424px;
		left: 2000px;
	}
		#resumeislandButton {
		width: 704px;
		height: 688px;
		left: 4000px;
	}

@media only screen and (max-device-width: 720px) 
{
	#welcomeislandButton {
		width: 384px;
		height: 318px;
		left: 0;
	}
		#aboutmeislandButton {
		width: 207px;
		height: 318px;
		left: 1500px;
	}
		#resumeislandButton {
		width: 528px;
		height: 516px;	
		left: 3000px;	
	}
}