* {
	image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
	image-rendering: pixelated;
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	background-color: #61c2f2;
	overflow: hidden;
}
#content {
	position: relative;
	left: 0;
	top:  0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
#morningSky {
	position: absolute;
	bottom: 0;
	min-width: 100vw;
	width: 5320px;
	height: 512px;
	background-image: url('../images/Morning Sky.png');
	background-size: contain;
}
#daySky {
	position: absolute;
	bottom: 0;
	min-width: 100vw;
	width: 5320px;
	height: 512px;
	background-image: url('../images/Day Sky.png');
	background-size: contain;
}
#nightSky {
	position: absolute;
	bottom: 0;
	min-width: 100vw;
	width: 5320px;
	height: 100vh;
	background-image: url('../images/Night Sky.png');
	background-size: 128px 128px;
}
#mountains1 {
	position: absolute;
	bottom: 0;
	min-width: 100vw;
	width: 5320px;
	height: 512px;
	background-image: url('../images/Mountains1.png');
	background-size: contain;

}
#mountains2 {
	position: absolute;
	bottom: 0;
	min-width: 100vw;
	width: 5320px;
	height: 512px;
	background-image: url('../images/Mountains2.png');
	background-size: contain;
}

.island {
	position: absolute;
	background-size: contain;
	bottom: 0;
}
	#welcomeisland {
		background-image: url('../images/Welcome.png');
		width: 512px;
		height: 424px;
		left: 0;
	}	

	#aboutmeisland {
		background-image: url('../images/About Me.png');
		width: 276px;
		height: 424px;
		left: 2000px;
	}

	#resumeisland {
		background-image: url('../images/Resume.png');
		width: 704px;
		height: 688px;
		left: 4000px;
	}
	#comingsoon {
		background-image: url('../images/Coming Soon.png');
		width: 320px;
		height: 180px;
		left: 5000px;
	}
	#sea {
	position: absolute;
	background-image: url('../images/SeaTile.png');
	background-size: contain;
	min-width: 100vw;
	width: 5320px;
	height: 64px;
	bottom: 0;
	-webkit-animation: seaMove 3s linear infinite;
	-moz-animation: seaMove 3s linear infinite;
}
#boat {
	position: absolute;
	background-image: url('../images/Boat.png');
	background-size: contain;
	width: 212px;
	height: 140px;
	bottom: 36px;
	left: 300px;
}
#sun {
	position: absolute;
	background-image: url('../images/Sun.png');
	background-size: contain;	
	width: 392px;
	height: 392px;
	left: 200px;
	bottom: 0;
}
#moon {
	position: absolute;
	background-image: url('../images/Moon.png');
	background-size: contain;	
	width: 196px;
	height: 196px;
	left: 200px;
	bottom: -196px;
}

#title {
	position: absolute;
	width: 40vw;
	left: 30vw;
	bottom: 60vh;
}
#overlay {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,20,150,0.25);
	overflow: hidden;
}
#overlay:hover {
	cursor: url("../images/Grab.png"), move;
}
#overlay:active {
	cursor: url("../images/Grabbing.png"), move;
}

@keyframes seaMove {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 64px 0;
	}
}

@media only screen and (max-device-width: 720px) 
{
	#morningSky {
		width: 3740px;
	}
	#daySky {
		width: 3740px;
	}
	#nightSky {
		width: 3740px;
	}
	#background {
		width: 3740px;
		height: 384px;
	}
	#mountains1 {
		width: 3740px;
		height: 384px;
	}
	#mountains2 {
		width: 3740px;
		height: 384px;
	}
	#welcomeisland {
		width: 384px;
		height: 318px;
	}
	#aboutmeisland {
		width: 207px;
		height: 318px;
		left: 1500px;
	}
	#resumeisland {
		width: 528px;
		height: 516px;	
		left: 3000px;	
	}
		#comingsoon {
		width: 240px;
		height: 135px;
		left: 3500px;
	}
	#boat {
		width: 159px;
		height: 105px;			
	}
	#sea {
		width: 3740px;
		height: 48px;
	}
	#sun {
		width: 294px;
		height: 294px;
	}
	#title {
		width: 50vw;
		left: 25vw;
	}
}