@font-face {
    font-family: immortal;
    src: url(../fonts/Immortal.ttf);
}

* {
	image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
	image-rendering: pixelated;
	padding: 0;
	margin: 0;
	border: 0;
}
body {
	font-family: immortal;
	overflow: hidden;
	font-size: 1.3em;
}
h1 {
	font-size: 3em;
	font-weight: normal;
	text-align: center;
}
h2 {
	text-decoration: underline;
	font-weight: normal;
	font-size: 1.8em;
	text-align: center;
}
p {
	line-height: 1em;
}
p::first-letter {
	font-size: 1.5em;
}
.noFirst::first-letter {
	font-size: 1em;
}
p img {
	height: 2.5em;
}

#loading {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	background-color: black;
	z-index: 100;
}
	#loading p {
		color: white;
		display: block;
		position: absolute;
		bottom: 50px;
		left: 50px;
	}
#portraitWarning {
	display: none;
}
#pressUp {
	position: absolute;
	width: 2.5vw;
	left: 46.25vw;
	z-index: 6;
}
.touch {
	position: absolute;
	z-index: 10;
	width: 20vw;
	height: 90vh;
	top: 10vh;	

}
#touchTop {
	width: 100vw;
	height: 15vh;
	top: 0;	
	color: rgba(255, 255, 255, 1.0);
}
#touchTop p {
	position: relative;
	text-align: center;
	top: 4vh;	
}
#touchRight {	
	right: 0;
}

#content {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 101vh;
	background-color: #73b4e6;
	z-index: 9;
}

.sceneObject {
	position: absolute;
	z-index: 5;
}
	.island {
		bottom: 0;
	}
		#welcomeIsland {		
			height: 30vw;
		}
		#aboutMeIsland {		
			height: 30vw;
			left: 62.5vw;
		}
		#resumeIsland {		
			height: 48.60vw;
			left: 120vw;
			z-index: 4;
		}
		#comingSoon {
			height: 12.75vw;	
			left:  180vw;
		}
.bg {	
	position: absolute;
	z-index: 0;
	background-repeat: repeat-x;
}

	#sea {
		bottom: 0;
		height: 4.5vw;
		width: 1000vw;
		background-image: url("../images/seaTile.png");
		background-size: contain;
		z-index: 7;
	}
	#mountains1 {
		left: 0;
		bottom: 0;
		height: 48.25vw;
		width: 500vw;
		background-image: url("../images/Mountains1.png");
		background-size: contain;
		z-index: 3;
	}
	#mountains2 {
		left: 0;
		bottom: 0;
		height: 48.25vw;
		width: 500vw;
		background-image: url("../images/Mountains2.png");
		background-size: contain;
		z-index: 2;
	}
	#title {
		width: 40%;
		left:  30vw;
		bottom: 31.81vw;
		z-index: 1;
	}	
#bg {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 50vw;
	width: 100vw;
	background-image: url("../images/BG.png");
	background-size: contain;
}
#sun {
	position: absolute;
	left: 14.75vw;
	bottom: 10vw;
	height: 22.71vw;
}


#boat {
	position: absolute;
	height: 9.85vw;
	bottom: 2.55vw;
	left: 25vw;
	z-index: 6;
}
.pageWrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 10;
}
.page {
	position: relative;
	display: block;
	margin: auto;
	top: 25vh;
	max-width: 900px;
	width: 90vw;
	min-height: 60vh;
	background-image: url("../images/Page mid.png");
	background-size: 100%;
	color: black;
	z-index: 10;
}
.page .top {
	position: absolute;
	width: 100%;
	height: 15vh;
	top: -15vh;
	background-image: url("../images/Page top.png");
	background-size: 100% 100%;
}
.page .mid {
	padding: 4% 15%;
}

.page .bot {
	position: absolute;
	padding: 0;
	width: 100%;
	height: 15vh;
	bottom: -15vh;
	background-image: url("../images/Page bot.png");
	background-size: 100% 100%;
}

table {
	width: 100%;
}
td {
	width: 50%;
}
td div {
	height: 1.3em;
	float: left;
}
.skill {
	width: 50%;
	font-size: 1.4rem;
}
.rating{
	width: 10%;
	background-image: url('../images/Rating.png');
	background-size: 100% 100%;
}
td {
	padding: 2%;
	background: rgba(100, 0, 0, 0.1);
}
.qualifications td:nth-child(2) {
	width: 70%;
}
.qualifications td:first-child {
	width: 30%;
}

@media only screen and (max-device-width: 720px) {
	body {
		font-size: 1em;
	}
	h1 {
		font-size: 2.7em;
	}
	h2 {
		font-size: 1.5em;
	}
	p img {
		height: 2.2em;
	}
	.skill {
		font-size: 1em;
	}
}
@media screen and (orientation: portrait) and (max-device-width: 640px)
{
	#portraitWarning {
		position: absolute;
		display: block;
		text-align: center;
		background-color: #ffffff;
	}
	.page {
			width: 90vw;
	}
}