body {
	padding: 0;
	margin: 0;
}
header {
	width: 100%;
	min-width: 800px;
	padding: 10px;
	float: left;
	display: block;
	background-color: #000000;
}
header h1{
	float: left;
	color: white;
}
nav {
}
nav ul li{
	float: left;
	display: block;
}
nav ul li a{
	padding: 20px;
	text-decoration: none;
}