* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    border: 20px;
    background: #111111;
    font: 14px/20px Arial, San-Serif;
}

header {
    position: fixed;
    background: #222222;
    opacity: 0.9;
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 2px solid #000;
}

ul{
    list-style:none;
}
a{
    color:white;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}

nav {
    float: left;
    padding: 35px 20px 20px 20px;
}

    nav ul li {
        display: inline-block;
        padding: 10px;
    }

    nav a {
        color: white;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }

    nav .current {
        font-size: 20px;
        text-decoration: underline;
    }

#body {
    color: #eee;
    font-size: 14px;
    padding: 1% 0;
    margin: 90px 15% 0 15%;
    width: 70%;
    min-height: 100vh;
    height: 100%;
    background-color: #444444;
}

    #body h1 {
        font-size: 24px;
        text-align: center;
    }

    #body h2 {
        text-align: center;
    }
    #body #date{
        text-align:center;
    }

.blueberry {
    text-align:center;
    max-width: 50%;
}

.blueberry .slides li{
    display:block;
    min-width: 100%;
}
section{
    padding: 10px 4%;
    margin: 10px  0;
}

#second{
    margin: 10px 0;
    background: #222;
    border-top: 2px solid #111;
    border-bottom: 2px solid #888;
}

footer {
    font-size: 12px;
    background: #222222;
    width: 100%;
    overflow: hidden;
    opacity: 0.90;
    color: white;
    border-top: 2px solid #000;
}

    footer a {
        color: white;
        text-decoration: none;
    }

        footer a:hover {
            text-decoration: underline;
        }
/*------------------------------MEDIA!!!---------------------------*/
@media screen and (max-width: 478px) {
}

@media screen and (max-width: 740px) {
}
