* {
	padding: 0;
	margin: 0;
	border: 0;
	image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;	
    image-rendering: crisp-edges;                 /* Awesome future-browsers       */
	image-rendering: pixelated;
}
body {
	background-color: #000000;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: white;
}
a:visited {
	color: white;
}
a:hover {
	color: red;
}

#menu {
	overflow: hidden;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
}
#menuTitle {
	position: relative;
	display: block;
	margin: auto;
	top:20%;
	height: 20%;
	max-width: 90%;
}
.button {
	position: relative;
	margin: auto;
	display: block;
	top:30%;
	font-size: 6vh;
	color: white;
	background-color: transparent;
  	cursor:pointer;
}

.button:hover {
	color: red;
}
#exitGameBtn {
	position: relative;
	font-size: 3vh;
	width: 3vh;
	height: 3vh;
	color: white;
	background-color: transparent;
  	cursor:pointer;
  	z-index: 10;
}
#exitGameBtn:hover {
	color: red;
}
#game {
	position: absolute;
	top: 100%;
	width: 100%;
	height: 100%;
}
#gameArea {
	overflow: hidden;
	position:absolute;
	z-index: 0;
	left:50%;
	top: 50%;
}

#mainCanvas {
	background-color: #48c2ff;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 480px) {
	#menuTitle {
		height: 12%;
	}
}