* {
	padding: 0;
	margin: 0;
	border: 0;	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	image-rendering: crisp-edges;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}
body {

	font-family: 'Roboto', sans-serif;
	background-color: #101010;
	color: #eee;
	font-size: 1.4rem;
}

a {
	color: #eee;
	text-decoration: none;	
}
a:hover {
	text-decoration: underline;

}

.nav {
	position: relative;
	height: 120px;    
	box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.6);
	background-image: linear-gradient(150deg, #76222D, #0D0D25);
	padding: 0 20px;
	transition: all 0.4s ease;
	z-index: 10;
}

.nav img {
	position: relative;
	height: 80px;
	padding:20px 0;
	transition: all 0.4s ease;
}
.nav ul {
	position: relative;
	float:right;
	font-size: 0rem;
}
.nav ul li {
	position: relative;
	display: inline;
}
.navItem {
	position: relative;
	display: inline-block;
	padding: 52px 20px;
	font-size: 14px;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	transition: all 0.4s ease;
}
.navItem:hover {
	background-color: #3F2C58;
	text-decoration: none;
}
.currentNav {
	background-color: #3F2C58;
}

.chunk {

}

section {
}
section h1 {
	font-size:2em;
	text-align: center;
	margin-bottom: 5%; 
}
.infoContainer {
	position: relative;
	background-image: linear-gradient(180deg, #222, #000);

}
.info {
	position: relative;
	max-width: 800px;
	padding: 5% 15% 5% 15%;
	margin: 0 auto;
	line-height: 1.6;
}
.info h2 {
	line-height: em;
}
.banner {
	position: relative;
	z-index: -10;
}
.banner img {
	width: 100%;
}

.support {
	padding: 5% 15% 2% 15%;
	text-align: center;
	background-color: #000;
}
.support a {
	display: inline-block;
	padding: 5px 20px;
	min-width: 25%;
	background-color: #3F2C58;
	line-height: 1.6;
	font-size: 1.4rem;
	box-shadow: 0 9px #110D2F;
	border-radius:10px;
	transition: all 0.4s ease;
	margin: 10px 20px;
}
.support a:hover {
	background-color: #8C6AA9;	
}
.support a:active {
	box-shadow: 0 0 #110D2F;
	transform: translateY(9px); 
}

.slide img {
	max-width: 1000px;
	width: 100%;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

.slideDots {
	text-align: center;
}
.dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 4px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.activeSlide, .dot:hover {
	background-color: #444;
}

.slide {
}

footer {
	padding:5% 15% 2% 15%;
	height:400px;
	background-color: #101010;
	line-height: 5rem;
}
footer a {
	color: #E53C53;
}
footer a img {
	height: 30px;
	margin: 0 20px 20px 0;
}
#emailme {
	margin: 0 0 0 20px;
}

@media screen and (max-width: 720px) {
	.nav {
		height: 100px;  
	}
	.nav img {
		height: 40px;
		padding:30px 0;
	}
	.nav ul li a {
		font-size: 12px;
		padding: 43px 6px;		
	}
	.info {
		font-size: 1.0rem;
		padding: 5% 5% 0 5%;
	}

	.support {
		padding: 5% 5% 2% 5%;
	}

	#emailme {
		margin: 0 0 0 10px;
	}
	footer {
		font-size: 0.75em;
		padding:5% 5% 2% 5%;
	}
}